/*styles shared between all pages*/
body {
    background-color: rgb(226, 217, 217);
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, h3, h4 {
    text-align: center;
    color: goldenrod;
}

img {
    height: auto;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/*end styles shared between all pages*/

/*styles for index.html*/
.flex-container {
    background-color: lightblue;
    padding: 16px;
    border: 4px solid blue;
    gap: 8px;
    display: flex;
}

.flex-item {
    background-color: peachpuff;
    border: 4px solid salmon;
    height: 48px;
    flex: 1;
    padding: 4px;
    font-size: 22px;
    list-style-type: none;
    text-align: center;
}
/*end styles for index.html*/